
div{
    display: flex;
    float: left;
    align-items: center;

}
img{
    width: 200px;
    height: auto;

}
input{
    width: 30px;
}
.aa{
  padding-left: 100%;
}
#productes{
    display:block;
}
#espacio{
    width: 400px;
}