nav{
    text-align: center;
    padding: 1%;
    width: 100%;
    background-color: #474747;
}

.compra{
    width: 15px;
    height: 15px;
}

li{
    display: inline;
}
h1{
    display: inline;
    text-align: center;
    width: 89%;

}
#cestaboto{
    width: 5%;
    display: block;
}

.menuP{
    width: 50%;
}

img{
    width: 30%;
}


header{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 19%;
    background-color: black;
    color: red;
}

.imgheader{
    width: 80px;
    height: 80px;
}

p#titolheader{
    font-family: system-ui;
}

article{
    width: 100%;
    color: white;
    background-color: #383838;
    text-align: center;
    padding: 2%;

}

.article-titol-div{
    margin-top: 5px;
    margin-bottom: 10px;
}

.article-titol{
    font-size: 50px;
}

#cotxe-benvinguda{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 600px;
    height: 400px;
}

footer{
    background-color: black;
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 19%;
}

.prefooter{
    background-color: #474747;
}

.enllaços-footer a{
    color: lightslategrey;
    margin: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1%;
}

.enllaços-footer a:hover{
    color: lightslategrey;
}

pre{
    text-align: justify;
    white-space: break-spaces;
}


.centrar{
    align-content: center;
}

.xarxes{
    width: 50px;
    height: 50px;
}

.xarxestext{
    font-size: 0.1em;
}

.titolcont{
    font-size: xxx-large;
    text-align: center;
}


#formulari-contenidor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    box-shadow: 10px 10px #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}

#ubi{
    width: 70%;
}

input[type="email"], input[type="password"], button[type="submit"] {
    width: 100%;
    text-align: center;

}

button[type="submit"]{
    width: 20%;
}
@media screen and (max-width: 1000px){
imgsn {
    width: 300px;
}
   }