nav{
    text-align: center;
    padding: 1%;
}

li{
    display: inline;
}
h1{
    display: inline;
    text-align: center;
    width: 89%;

}
.cestaboto{
    display: inline;

}
#logo{
    display: inline;
}
img{
    width: 10%;
}


section{
    background-color: whitesmoke;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 80%;


}

article{
    color: white;
    background-color: black;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 80%;
}

aside{
    background-color: greenyellow;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 19%;
    height: 80%;
}
footer{
    background-color: black;
    color: red;
    text-align: center;
    padding: 0.5%;
    display: flex;
    justify-content: center;
    width: 98%;
    height: 19%;
}

pre{
    text-align: justify;
    white-space: break-spaces;
}

article{
    background-color: #2f2f2f;
    width: 79%;
    height: 80%;
}
<!-- especific contacte -->

h1.titol{
    text-align: center;
}

#fonscontact{
    width: 100%;
    height: 100%;
    background-color: blue;
    color: white;
}


.xarxes{
    width: 50px;
    height: 50px;
}

.xarxestext{
    font-size: 0.1em;
}

.titolcont{
    font-size: xxx-large;
    text-align: center;
}