nav{
    background-color: grey;
    text-align: center;
    padding: 1%;
}

li{
    display: inline;
}
header{
    display: flex;
    align-items: center;
}
#logo{
    display: inline;
    width: 12%;
}
h1{
    display: inline;
}
section{
    background-color: whitesmoke;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 80%;


}
aside{
    background-color: greenyellow;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 16%;
}
footer{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
}

pre{
    text-align: justify;
    white-space: break-spaces;
}
