nav{
    text-align: center;
    padding: 1%;
}

li{
    display: inline;
}
h1{
    display: inline;
    text-align: center;
    width: 89%;

}
.cestaboto{
    display: inline;

}
#logo{
    display: inline;
}
img{
    width: 10%;
}


section{
    background-color: whitesmoke;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 80%;


}
aside{
    background-color: greenyellow;
    text-align: center;
    padding: 1%;
    display: inline;
    float: left;
    width: 16%;
}
footer{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
}

pre{
    text-align: justify;
    white-space: break-spaces;
}

<!-- especific contacte -->

#fonscontact{
    background-color: blue;
    color: white;
}


div p.xarxes{
    font-size: 0.1em;
}

div img.xarxes{
    width: 50px;
    height: 50px;
}